.wrapper {
    font-family: sans-serif;
    width: 270px;
    height: 400px;
    background: white;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
    color: black;
  }
  .wrapper:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  }
  .wrapper .container {
    width: 100%;
    height: 100%;
  }
  .wrapper .container .top {
    height: 80%;
    width: 100%;
    background-size: 100%;
  }
  .propic{
    width: 100%;
    height: 100%;
  }
  .wrapper .container .bottom {
    width: 200%;
    height: 20%;
    transition: transform 0.5s;
  }
  .wrapper .container .bottom h1 {
    margin: 0;
    padding: 0;
  }
  .wrapper .container .bottom p {
    margin: 0;
    padding: 0;
  }
  .wrapper .container .bottom .left {
    height: 100%;
    width: 50%;
    background: #f4f4f4;
    position: relative;
    float: left;
  }
  .wrapper .container .bottom .left .details {
    padding: 10px;
    float: left;
    width: calc(70% - 40px);
  }
  .wrapper .container .bottom .left .details h1{
    font-size: 16px;
  }

  .wrapper .container .bottom .left .buy {
    float: right;
    width: calc(30% - 2px);
    height: 100%;
    padding-top: 24px;
    padding-right: 23px;
    padding-left: 24px;
    padding-bottom: 20px;
    background: #f1f1f1;
    transition: background 0.5s;
    border-left: solid thin rgba(0, 0, 0, 0.1);
  }
  .wrapper .container .bottom .left .buy i {
    font-size: 35px;
    /* padding: 30px; */
    margin-top: 20px;
    color: #254053;
    transition: transform 0.5s;
  }
  .wrapper .container .bottom .left .buy:hover {
    background: var(--main-color);
  }
  .wrapper .container .bottom .left .buy:hover i {
    transform: translateY(5px);
    color:white;
  }

  .wrapper .inside {
    z-index: 9;
    background:var(--main-color);
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
  }
  .wrapper .inside .icon {
    position: absolute;
    right: 85px;
    top: 85px;
    color: white;
    opacity: 1;
    font-size: 30px;
  }
  .wrapper .inside:hover {
    width: 100%;
    right: 0;
    top: 0;
    border-radius: 0;
    height: 80%;
  }
  .wrapper .inside:hover .icon {
    opacity: 0;
    right: 15px;
    top: 15px;
  }
  .wrapper .inside:hover .contents {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
  }
  .wrapper .inside .contents {
    padding: 5%;
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity 0.2s, transform 0.8s;
  }
  .wrapper .inside .contents h3{
    text-align: left;
    margin: 13px;
    font-size: 25px;
  }
 .wrapper .inside .contents p, .wrapper .inside .contents h3 {
    color: white;
  }
  .wrapper .inside .contents p {
    font-size: 19px;
  }



  
/* pagination css start */

.data-pagination {
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  font-family: 'Open Sans', 'Source Sans Pro', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  margin: 1em auto;
  text-align: center;
  transition: font-size .2s ease-in-out;
}
.data-pagination ul {
  list-style-type: none;
  display: inline;
  font-size: 100%;
  margin: 0;
  padding: .5em;
}
.data-pagination ul li {
  display: inline-block;
  font-size: 100%;
  width: auto;
  border-radius: 3px;
}

.data-pagination a {
  color:whitesmoke;
  font-size: 100%;
  padding: .5em;
}
.data-pagination a:focus,
.data-pagination a:hover {
  color: var(--main-color);
}
.data-pagination li.current {
  background:var(--main-color);
}
.data-pagination li.current:hover{
 background-color: black;
}
.data-pagination .hidden,
.data-pagination .disabled {
  opacity: .5;
  pointer-events: none;
}
@media (min-width: 350px) {
    .data-pagination{
    font-size: 20px;
  }
}
@media (min-width: 500px) {
    .data-pagination {
    font-size: 22px;
  }
}
@media (min-width: 700px) {
    .data-pagination {
    font-size: 24px;
  }
}
@media (min-width: 900px) {
    .data-pagination {
    font-size: 26px;
  }
}

/*pagination css end */
